packages/mcp-agents/orchestration/cleanup/n8n.json
{
    "name": "Docker Cleanup Workflow",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "minutesInterval": 4
                        }
                    ]
                }
            },
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "command": "pnpm mcp run disk-watcher",
                "executeTimeout": 120
            },
            "name": "Disk Check",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                470,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ !!$json.needsAction }}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "Action requise ?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                690,
                300
            ]
        },
        {
            "parameters": {
                "command": "pnpm mcp run docker-cleaner",
                "executeTimeout": 300
            },
            "name": "Docker Cleanup",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                910,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.SLACK_WEBHOOK_URL || $env.TEAMS_WEBHOOK_URL }}",
                "authentication": "none",
                "requestFormat": "json",
                "bodyParametersJson": "={\n  \"text\": \"🚨 **ALERTE ESPACE DISQUE** 🚨\\n\\nL'agent disk-watcher a détecté un problème d'espace disque critique.\\n\\nPoints de montage critiques: {{ $node[\"Disk Check\"].json.mountPoints.join(', ') }}\\n\\nAction automatique: Nettoyage Docker effectué avec succès.\\n\\nRapport complet: {{ $node[\"Disk Check\"].json.report }}\\n\\n*Message généré automatiquement par MCP Orchestrator*\"\n}"
            },
            "name": "Notification",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1130,
                300
            ]
        },
        {
            "parameters": {
                "filePath": "={{ $node[\"Disk Check\"].json.report }}"
            },
            "name": "Lire Rapport",
            "type": "n8n-nodes-base.readBinaryFile",
            "typeVersion": 1,
            "position": [
                910,
                400
            ]
        },
        {
            "parameters": {
                "command": "cat {{ $node[\"Docker Cleanup\"].stdout }}"
            },
            "name": "Résultat Cleanup",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                1130,
                200
            ]
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Disk Check",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Disk Check": {
            "main": [
                [
                    {
                        "node": "Action requise ?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Action requise ?": {
            "main": [
                [
                    {
                        "node": "Docker Cleanup",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Lire Rapport",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Docker Cleanup": {
            "main": [
                [
                    {
                        "node": "Résultat Cleanup",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Lire Rapport": {
            "main": [
                [
                    {
                        "node": "Notification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {},
    "versionId": "1a2c95d7-66e6-4a0a-b5e2-ce221e8e7664",
    "meta": {
        "instanceId": "mcp-instance"
    },
    "tags": [
        "docker",
        "monitoring",
        "cleanup",
        "automation"
    ]
}