backups/structure_optimization_20250425_011443/config/mysql-analyzer-workflow.n8n.json
{
  "name": "MySQL Analyzer Workflow",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 6,
              "unit": "hours"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [100, 200],
      "typeVersion": 1
    },
    {
      "parameters": {
        "path": "/workspaces/cahier-des-charge/app/legacy",
        "fileExtensions": ["sql", "mysql"],
        "options": {
          "recursive": true
        }
      },
      "name": "List SQL Files",
      "type": "n8n-nodes-base.filesearch",
      "position": [300, 200],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filePath": "={{ $json.path }}",
        "agentUrl": "http://localhost:3333/api/mcp/execute/mysql-analyzer",
        "outputPath": "/workspaces/cahier-des-charge/reports/analysis/sql/{{$json.path.split('/').pop()}}.json"
      },
      "name": "MySQL Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "position": [500, 200],
      "typeVersion": 1
    },
    {
      "parameters": {
        "path": "=/workspaces/cahier-des-charge/reports/analysis/sql/{{$json.path.split('/').pop()}}.json",
        "content": "={{ $json.analysis }}",
        "options": {
          "encoding": "utf8",
          "createPath": true
        }
      },
      "name": "Save Analysis",
      "type": "n8n-nodes-base.writeBinaryFile",
      "position": [700, 200],
      "typeVersion": 1
    },
    {
      "parameters": {
        "functionCode": "// Analyser les requêtes SQL pour la migration vers PostgreSQL\nconst fs = require('fs');\nconst path = require('path');\n\ntry {\n  const filePath = $input.item.json.path;\n  const fileName = path.basename(filePath);\n  const analysisPath = `/workspaces/cahier-des-charge/reports/analysis/sql/${fileName}.json`;\n  \n  // Vérifier si l'analyse existe\n  if (!fs.existsSync(analysisPath)) {\n    throw new Error(`Fichier d'analyse introuvable: ${analysisPath}`);\n  }\n  \n  // Lire l'analyse\n  const analysis = JSON.parse(fs.readFileSync(analysisPath, 'utf8'));\n  \n  // Générer des recommandations pour la migration MySQL vers PostgreSQL\n  const postgresRecommendations = {\n    originalFile: filePath,\n    analysisFile: analysisPath,\n    timestamp: new Date().toISOString(),\n    recommendations: [],\n    conversionPatterns: []\n  };\n  \n  // Analyser les requêtes SQL et générer des recommandations\n  if (analysis.queries && Array.isArray(analysis.queries)) {\n    analysis.queries.forEach(query => {\n      // Recherche de patterns MySQL spécifiques\n      if (query.sql.includes('AUTO_INCREMENT')) {\n        postgresRecommendations.recommendations.push({\n          type: 'AUTO_INCREMENT',\n          description: 'Remplacer AUTO_INCREMENT par SERIAL ou IDENTITY',\n          original: query.sql,\n          suggested: query.sql.replace(/AUTO_INCREMENT/g, 'SERIAL')\n        });\n        \n        postgresRecommendations.conversionPatterns.push({\n          pattern: 'AUTO_INCREMENT',\n          replacement: 'SERIAL',\n          context: 'column_definition'\n        });\n      }\n      \n      // Autres patterns spécifiques à MySQL\n      if (query.sql.includes('IFNULL')) {\n        postgresRecommendations.recommendations.push({\n          type: 'IFNULL',\n          description: 'Remplacer IFNULL par COALESCE',\n          original: query.sql,\n          suggested: query.sql.replace(/IFNULL\\s*\\(/g, 'COALESCE(')\n        });\n        \n        postgresRecommendations.conversionPatterns.push({\n          pattern: 'IFNULL',\n          replacement: 'COALESCE',\n          context: 'function'\n        });\n      }\n    });\n  }\n  \n  // Sauvegarder les recommandations\n  const recommendationsPath = `/workspaces/cahier-des-charge/reports/recommendations/sql/${fileName}.postgres.json`;\n  \n  // Créer le répertoire s'il n'existe pas\n  const recommendationsDir = path.dirname(recommendationsPath);\n  if (!fs.existsSync(recommendationsDir)) {\n    fs.mkdirSync(recommendationsDir, { recursive: true });\n  }\n  \n  // Écrire les recommandations\n  fs.writeFileSync(recommendationsPath, JSON.stringify(postgresRecommendations, null, 2));\n  \n  return {\n    json: {\n      ...postgresRecommendations,\n      recommendationsPath\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      error: error.message,\n      timestamp: new Date().toISOString()\n    }\n  };\n}"
      },
      "name": "Generate PostgreSQL Recommendations",
      "type": "n8n-nodes-base.function",
      "position": [900, 200],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "{{ $env.NOTIFICATION_CHAT_ID }}",
        "text": "📊 *Analyse MySQL complétée*\n\nFichier: `{{ $json.originalFile }}`\n\n✅ Recommandations PostgreSQL générées: {{ $json.recommendations.length }}\n✅ Patterns de conversion identifiés: {{ $json.conversionPatterns.length }}\n\n*Timestamp:* {{ $json.timestamp }}\n\n[Voir les recommandations](file://{{ $json.recommendationsPath }})",
        "additionalFields": {
          "parseMode": "Markdown",
          "disableNotification": true
        }
      },
      "name": "Send Notification",
      "type": "n8n-nodes-base.telegram",
      "position": [1100, 200],
      "typeVersion": 1
    },
    {
      "parameters": {
        "path": "/data/mysql-dumps",
        "options": {
          "includeHiddenFiles": false,
          "fileExtensions": [".sql", ".sql.gz"]
        }
      },
      "name": "Watch MySQL Dumps",
      "type": "n8n-nodes-base.filesWatcher",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Récupérer le chemin complet du fichier\nconst filePath = $input.item.path;\n\n// Déterminer si le fichier est compressé\nconst isCompressed = filePath.endsWith('.gz');\n\n// Définir le dossier de sortie basé sur le nom du fichier\nconst fileName = filePath.split('/').pop().replace(/\\.(sql|sql\\.gz)$/, '');\nconst outputDir = `/data/analyses/${fileName}-${new Date().toISOString().replace(/:/g, '-').split('.')[0]}`;\n\n// Construire la commande\nlet command = `cd /workspaces/cahier-des-charge && ts-node agents/migration/mysql-analyzer.ts \"${filePath}\" --output-dir \"${outputDir}\"`;\n\n// Ajouter les options\nif (isCompressed) {\n  command += ' --compressed';\n}\n\n// Ajouter l'option pour analyser les JOINs\ncommand += ' --analyze-joins';\n\nreturn {\n  command,\n  outputDir,\n  filePath,\n  fileName,\n  timestamp: new Date().toISOString()\n};"
      },
      "name": "Préparer la commande",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "command": "={{ $node[\"Préparer la commande\"].json[\"command\"] }}",
        "executeTimeout": 300
      },
      "name": "Exécuter l'analyse",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "fileFormat": "text",
        "binaryData": true,
        "fileName": "analyse-results.log",
        "path": "={{ $node[\"Préparer la commande\"].json[\"outputDir\"] }}"
      },
      "name": "Sauvegarder les résultats",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "to": ["equipe-migration@exemple.com"],
        "subject": "Analyse MySQL terminée: {{ $node[\"Préparer la commande\"].json[\"fileName\"] }}",
        "text": "# Analyse MySQL terminée\n\nL'analyse du fichier **{{ $node[\"Préparer la commande\"].json[\"fileName\"] }}** est terminée.\n\n## Détails\n- **Fichier analysé**: {{ $node[\"Préparer la commande\"].json[\"filePath\"] }}\n- **Dossier de résultats**: {{ $node[\"Préparer la commande\"].json[\"outputDir\"] }}\n- **Date d'analyse**: {{ $node[\"Préparer la commande\"].json[\"timestamp\"] }}\n\n## Résultat de l'exécution\n```\n{{ $node[\"Exécuter l'analyse\"].json[\"stdout\"] }}\n```\n\n## Erreurs (si présentes)\n```\n{{ $node[\"Exécuter l'analyse\"].json[\"stderr\"] }}\n```\n\nVous pouvez consulter les fichiers d'analyse générés dans le dossier mentionné ci-dessus.",
        "options": {
          "attachments": "={{ $node[\"Sauvegarder les résultats\"].binary }}"
        }
      },
      "name": "Envoyer notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Exécuter l'analyse\"].json[\"exitCode\"] }}",
              "operation": "notEqual",
              "value2": "0"
            }
          ]
        }
      },
      "name": "Vérifier erreurs",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 500]
    },
    {
      "parameters": {
        "url": "https://hooks.slack.com/services/TXXXXXX/BXXXXXX/XXXXXXXX",
        "jsonParameters": true,
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "⚠️ Erreur lors de l'analyse MySQL du fichier {{ $node[\"Préparer la commande\"].json[\"fileName\"] }} :\n```\n{{ $node[\"Exécuter l'analyse\"].json[\"stderr\"] }}\n```"
            }
          ]
        }
      },
      "name": "Alerter sur Slack",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [1050, 500]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List SQL Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List SQL Files": {
      "main": [
        [
          {
            "node": "MySQL Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL Analysis": {
      "main": [
        [
          {
            "node": "Save Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Analysis": {
      "main": [
        [
          {
            "node": "Generate PostgreSQL Recommendations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PostgreSQL Recommendations": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Watch MySQL Dumps": {
      "main": [
        [
          {
            "node": "Préparer la commande",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparer la commande": {
      "main": [
        [
          {
            "node": "Exécuter l'analyse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exécuter l'analyse": {
      "main": [
        [
          {
            "node": "Sauvegarder les résultats",
            "type": "main",
            "index": 0
          },
          {
            "node": "Vérifier erreurs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sauvegarder les résultats": {
      "main": [
        [
          {
            "node": "Envoyer notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vérifier erreurs": {
      "main": [
        [
          {
            "node": "Alerter sur Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "mysql-analyzer-error-handler"
  },
  "tags": ["mysql", "analyze", "migration", "database"],
  "versionId": "d8aa47a6-bfac-4f7f-952a-90ae1bd9dff9"
}