packages/business/workflows/mcp-php-analysis-pipeline.json
{
  "name": "MCP Pipeline - Analyse PHP",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "name": "Déclencheur périodique",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "path": "/var/legacy/src",
        "fileExtension": "php",
        "options": {
          "depth": 10,
          "excludeDirectories": "vendor,cache,logs,tmp"
        }
      },
      "name": "Découverte fichiers PHP",
      "type": "n8n-nodes-base.filesSearch",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "name": "Division en lots",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://backend:3333/webhooks/mcp-job",
        "options": {
          "jsonParameters": true,
          "bodyParametersUi": {
            "parameter": [
              {
                "name": "filePath",
                "value": "={{ $json.path }}"
              },
              {
                "name": "agentType",
                "value": "php-analyzer"
              },
              {
                "name": "priority",
                "value": 1
              },
              {
                "name": "metadata",
                "value": "={{ { \"source\": \"n8n-pipeline\", \"discoveredAt\": $now, \"fileSize\": $json.size } }}"
              }
            ]
          }
        }
      },
      "name": "API MCP - Créer Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "=http://backend:3333/jobs/{{ $json.body.job.jobId }}",
        "options": {
          "response": {
            "response": {
              "includeResponseBody": true,
              "includeResponseHeaders": false
            }
          }
        }
      },
      "name": "API MCP - Vérifier Job (optionnel)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "functionCode": "// Le nœud stocke les détails des jobs pour référence future\nconst jobIds = $input.all().map(item => {\n  return {\n    jobId: item.json.body.job.jobId,\n    filePath: item.json.body.job.filePath,\n    status: item.json.body.job.status,\n    timestamp: new Date().toISOString()\n  };\n});\n\n// Résumé de l'exécution\nreturn [\n  {\n    jobsCount: jobIds.length,\n    jobs: jobIds,\n    summary: `✅ ${jobIds.length} jobs PHP envoyés pour analyse via MCP à ${new Date().toLocaleString()}`\n  }\n];"
      },
      "name": "Résumé des jobs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Déclencheur périodique": {
      "main": [
        [
          {
            "node": "Découverte fichiers PHP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Découverte fichiers PHP": {
      "main": [
        [
          {
            "node": "Division en lots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Division en lots": {
      "main": [
        [
          {
            "node": "API MCP - Créer Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API MCP - Créer Job": {
      "main": [
        [
          {
            "node": "API MCP - Vérifier Job (optionnel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API MCP - Vérifier Job (optionnel)": {
      "main": [
        [
          {
            "node": "Résumé des jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
