workflows/extracted/v_rification_qualit__du_code.json
{
  "id": "dev-checker-workflow",
  "name": "Vérification Qualité du Code",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "name": "Déclencheur Quotidien",
      "type": "n8n-nodes-base.cron",
      "position": [100, 200],
      "typeVersion": 1
    },
    {
      "parameters": {
        "triggerTimes": {}
      },
      "name": "Déclencheur Manuel",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [100, 340],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "httpMethod": "POST",
        "path": "dev-check-trigger",
        "options": {}
      },
      "name": "Webhook GitHub PR",
      "type": "n8n-nodes-base.webhook",
      "position": [100, 480],
      "webhookId": "dev-check-webhook",
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "mergeByPosition"
      },
      "name": "Merge Déclencheurs",
      "type": "n8n-nodes-base.merge",
      "position": [300, 340],
      "typeVersion": 2
    },
    {
      "parameters": {
        "command": "cd /workspaces/cahier-des-charge && npx tsx apps/mcp-server/src/handleAgentRequest.ts dev-checker",
        "workingDirectory": "/workspaces/cahier-des-charge",
        "executeTimeout": 300
      },
      "name": "Exécuter Dev Checker",
      "type": "n8n-nodes-base.executeCommand",
      "position": [500, 340],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.stdout.includes('❌ Erreur') }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Erreurs Détectées?",
      "type": "n8n-nodes-base.if",
      "position": [700, 340],
      "typeVersion": 1
    },
    {
      "parameters": {
        "command": "cd /workspaces/cahier-des-charge && npx tsx apps/mcp-server/src/handleAgentRequest.ts dev-checker --fix",
        "workingDirectory": "/workspaces/cahier-des-charge",
        "executeTimeout": 300
      },
      "name": "Tentative Auto-Correction",
      "type": "n8n-nodes-base.executeCommand",
      "position": [900, 240],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.stdout.includes('corrections automatiques appliquées') }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Corrections Appliquées?",
      "type": "n8n-nodes-base.if",
      "position": [1100, 240],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "{{ $env.NOTIFICATION_CHAT_ID }}",
        "text": "⚠️ *Problèmes détectés dans le code*\n\nL'agent dev-checker a détecté des problèmes dans le code qui nécessitent une attention manuelle.\n\n[Voir le rapport détaillé]({{ $env.DASHBOARD_URL }}/reports/dev_check_report.md)",
        "additionalFields": {
          "parseMode": "Markdown",
          "disableNotification": false
        }
      },
      "name": "Notifier Problèmes",
      "type": "n8n-nodes-base.telegram",
      "position": [1300, 340],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "{{ $env.NOTIFICATION_CHAT_ID }}",
        "text": "🛠️ *Corrections automatiques appliquées*\n\nL'agent dev-checker a identifié et corrigé automatiquement certains problèmes dans le code.\n\n[Voir le rapport détaillé]({{ $env.DASHBOARD_URL }}/reports/dev_check_report.md)",
        "additionalFields": {
          "parseMode": "Markdown",
          "disableNotification": false
        }
      },
      "name": "Notifier Corrections",
      "type": "n8n-nodes-base.telegram",
      "position": [1300, 120],
      "typeVersion": 1
    },
    {
      "parameters": {
        "command": "cd /workspaces/cahier-des-charge && git add . && git commit -m \"🤖 Corrections automatiques par dev-checker\" && git push",
        "workingDirectory": "/workspaces/cahier-des-charge",
        "executeTimeout": 60
      },
      "name": "Commit et Push Corrections",
      "type": "n8n-nodes-base.executeCommand",
      "position": [1500, 120],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "{{ $env.NOTIFICATION_CHAT_ID }}",
        "text": "✅ *Vérification du code complétée*\n\nL'agent dev-checker n'a détecté aucun problème.\n\n[Voir le rapport détaillé]({{ $env.DASHBOARD_URL }}/reports/dev_check_report.md)",
        "additionalFields": {
          "parseMode": "Markdown",
          "disableNotification": true
        }
      },
      "name": "Notifier Succès",
      "type": "n8n-nodes-base.telegram",
      "position": [900, 440],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Déclencheur Quotidien": {
      "main": [
        [
          {
            "node": "Merge Déclencheurs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Déclencheur Manuel": {
      "main": [
        [
          {
            "node": "Merge Déclencheurs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook GitHub PR": {
      "main": [
        [
          {
            "node": "Merge Déclencheurs",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Déclencheurs": {
      "main": [
        [
          {
            "node": "Exécuter Dev Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exécuter Dev Checker": {
      "main": [
        [
          {
            "node": "Erreurs Détectées?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erreurs Détectées?": {
      "main": [
        [
          {
            "node": "Tentative Auto-Correction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notifier Succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tentative Auto-Correction": {
      "main": [
        [
          {
            "node": "Corrections Appliquées?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Corrections Appliquées?": {
      "main": [
        [
          {
            "node": "Notifier Corrections",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notifier Problèmes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifier Corrections": {
      "main": [
        [
          {
            "node": "Commit et Push Corrections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
