workflows/migration/migration_pipeline.n8n.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "migration/trigger",
        "options": {
          "responseMode": "responseNode",
          "responseCode": 200,
          "responseData": "firstEntryJson"
        },
        "authentication": "none"
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "migration-pipeline-trigger",
      "id": "1f75df9a-5c10-4b4d-8e5a-9a5a08e0cd9a"
    },
    {
      "parameters": {
        "jsCode": "// Extraire et valider les paramètres d'entrée\nconst input = $input.item.json;\n\n// Valider les paramètres requis\nif (!input.config && !input.configPath) {\n  throw new Error('Vous devez spécifier soit \"config\" soit \"configPath\"');\n}\n\n// Configuration par défaut\nconst defaultConfig = {\n  dryRun: false,\n  skipDockerSetup: false,\n  skipDumpImport: false,\n  skipSchemaAnalysis: false,\n  skipDataMigration: false,\n  skipValidation: false,\n  skipSupabasePush: false,\n  skipCodeTransform: false,\n  tables: '',\n  timestamp: new Date().toISOString(),\n  reportPath: `/tmp/migration-${new Date().toISOString().replace(/[:.]/g, '-')}`\n};\n\n// Fusionner avec la configuration fournie\nconst config = { ...defaultConfig, ...input.config };\n\n// Créer un identifiant unique pour cette exécution\nconst executionId = `migration-${Date.now()}`;\n\n// Ajouter des informations supplémentaires\nreturn {\n  executionId,\n  config,\n  status: 'initialized',\n  stages: [\n    { id: 'docker-setup', name: 'Configuration Docker', status: config.skipDockerSetup ? 'skipped' : 'pending' },\n    { id: 'dump-import', name: 'Import des dumps SQL', status: config.skipDumpImport ? 'skipped' : 'pending' },\n    { id: 'schema-analysis', name: 'Analyse du schéma', status: config.skipSchemaAnalysis ? 'skipped' : 'pending' },\n    { id: 'data-migration', name: 'Migration des données', status: config.skipDataMigration ? 'skipped' : 'pending' },\n    { id: 'data-validation', name: 'Validation des données', status: config.skipValidation ? 'skipped' : 'pending' },\n    { id: 'supabase-push', name: 'Push vers Supabase', status: config.skipSupabasePush ? 'skipped' : 'pending' },\n    { id: 'code-transform', name: 'Transformation du code', status: config.skipCodeTransform ? 'skipped' : 'pending' }\n  ],\n  startTime: new Date().toISOString(),\n  logs: [`[INFO] Démarrage du pipeline de migration (ID: ${executionId})`]\n};"
      },
      "name": "Initialisation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [460, 300],
      "id": "eb7eb8b3-81df-4320-adba-aa4254fbb8a1"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Configuration Docker",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [680, 180],
      "id": "9e7f8de1-d5f4-4a4e-b4a6-6f7c1a2d56d9",
      "executeOnce": false,
      "alwaysOutputData": true,
      "functionCode": "// Mettre à jour l'état\nconst item = $input.item.json;\nitem.logs.push(`[INFO] Démarrage de l'étape: Configuration Docker`);\n\n// Ignorer si configuré pour être ignoré\nif (item.config.skipDockerSetup) {\n  item.logs.push(`[INFO] Étape Configuration Docker ignorée (skipDockerSetup=true)`);\n  \n  // Mettre à jour le statut de l'étape\n  const stageIndex = item.stages.findIndex(s => s.id === 'docker-setup');\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'skipped';\n  }\n  \n  return item;\n}\n\ntry {\n  // Simuler le démarrage des conteneurs Docker\n  item.logs.push(`[INFO] Vérification des conteneurs Docker existants...`);\n  item.logs.push(`[INFO] Démarrage des conteneurs Docker...`);\n  \n  // Simuler un délai pour le démarrage des conteneurs\n  await new Promise(resolve => setTimeout(resolve, 2000));\n  \n  // Mettre à jour le statut de l'étape\n  const stageIndex = item.stages.findIndex(s => s.id === 'docker-setup');\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'completed';\n  }\n  \n  item.logs.push(`[SUCCESS] Configuration Docker terminée avec succès`);\n  return item;\n} catch (error) {\n  // En cas d'erreur\n  item.logs.push(`[ERROR] Erreur lors de la configuration Docker: ${error.message}`);\n  \n  // Mettre à jour le statut de l'étape\n  const stageIndex = item.stages.findIndex(s => s.id === 'docker-setup');\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'failed';\n  }\n  \n  item.status = 'failed';\n  throw error;\n}"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Import des dumps SQL",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [680, 340],
      "id": "4b936312-a7a4-4c5a-b4dc-34e1b4b1d02c",
      "alwaysOutputData": true,
      "functionCode": "// Mettre à jour l'état\nconst item = $input.item.json;\nitem.logs.push(`[INFO] Démarrage de l'étape: Import des dumps SQL`);\n\n// Ignorer si configuré pour être ignoré\nif (item.config.skipDumpImport) {\n  item.logs.push(`[INFO] Étape Import des dumps SQL ignorée (skipDumpImport=true)`);\n  \n  // Mettre à jour le statut de l'étape\n  const stageIndex = item.stages.findIndex(s => s.id === 'dump-import');\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'skipped';\n  }\n  \n  return item;\n}\n\ntry {\n  // Simuler l'import des dumps SQL\n  item.logs.push(`[INFO] Recherche des fichiers de dump SQL...`);\n  item.logs.push(`[INFO] Import des dumps dans MySQL...`);\n  \n  // Simuler un délai pour l'import\n  await new Promise(resolve => setTimeout(resolve, 1500));\n  \n  // Mettre à jour le statut de l'étape\n  const stageIndex = item.stages.findIndex(s => s.id === 'dump-import');\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'completed';\n  }\n  \n  item.logs.push(`[SUCCESS] Import des dumps SQL terminé avec succès`);\n  return item;\n} catch (error) {\n  // En cas d'erreur\n  item.logs.push(`[ERROR] Erreur lors de l'import des dumps SQL: ${error.message}`);\n  \n  // Mettre à jour le statut de l'étape\n  const stageIndex = item.stages.findIndex(s => s.id === 'dump-import');\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'failed';\n  }\n  \n  item.status = 'failed';\n  throw error;\n}"
    },
    {
      "parameters": {
        "command": "=docker-compose -f docker-compose.dev.yml exec -T code-transformer npx ts-node /app/mysql-to-pg.ts --host=mysql-legacy --port=3306 --user={{$node[\"Initialisation\"].json[\"config\"][\"mysqlUser\"] || 'app_user'}} --password={{$node[\"Initialisation\"].json[\"config\"][\"mysqlPassword\"] || 'app_password'}} --database={{$node[\"Initialisation\"].json[\"config\"][\"mysqlDatabase\"] || 'legacy_app'}} --output=/app/schema_map.json {{ $node[\"Initialisation\"].json[\"config\"][\"tables\"] ? '--include-tables=\"' + $node[\"Initialisation\"].json[\"config\"][\"tables\"] + '\"' : '' }} --verbose",
        "executeTimeout": 300
      },
      "name": "Exécuter mysql-to-pg",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 500],
      "id": "5c9fb8e5-c9a7-472c-962d-efed5e16731e"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Analyse du schéma",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [680, 500],
      "id": "1582d73d-1b5c-487f-8b9b-a6a4c9a2a2d0",
      "alwaysOutputData": true,
      "functionCode": "// Mettre à jour l'état\nconst item = $input.item.json;\nitem.logs.push(`[INFO] Démarrage de l'étape: Analyse du schéma`);\n\n// Ignorer si configuré pour être ignoré\nif (item.config.skipSchemaAnalysis) {\n  item.logs.push(`[INFO] Étape Analyse du schéma ignorée (skipSchemaAnalysis=true)`);\n  \n  // Mettre à jour le statut de l'étape\n  const stageIndex = item.stages.findIndex(s => s.id === 'schema-analysis');\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'skipped';\n  }\n  \n  return item;\n}\n\ntry {\n  // On va exécuter l'agent mysql-to-pg via le nœud Execute Command\n  // Le résultat sera traité par le nœud suivant\n  \n  // Mettre à jour le statut de l'étape pour indiquer qu'elle est en cours\n  const stageIndex = item.stages.findIndex(s => s.id === 'schema-analysis');\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'running';\n  }\n  \n  item.logs.push(`[INFO] Exécution de l'agent mysql-to-pg pour l'analyse du schéma...`);\n  \n  // Les tables à inclure\n  const tablesInfo = item.config.tables ? `(tables: ${item.config.tables})` : '(toutes les tables)';\n  item.logs.push(`[INFO] Analyse des tables MySQL ${tablesInfo}`);\n  \n  return item;\n} catch (error) {\n  // En cas d'erreur\n  item.logs.push(`[ERROR] Erreur lors de l'analyse du schéma: ${error.message}`);\n  \n  // Mettre à jour le statut de l'étape\n  const stageIndex = item.stages.findIndex(s => s.id === 'schema-analysis');\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'failed';\n  }\n  \n  item.status = 'failed';\n  throw error;\n}"
    },
    {
      "parameters": {
        "jsCode": "// Récupérer l'état actuel\nconst currentState = $input.first();\nconst commandOutput = $input.last();\n\n// Extraire les résultats de la commande mysql-to-pg\nlet schemaMapInfo = {};\nlet hasErrors = false;\n\n// Vérifier si la commande a réussi ou échoué\nif (commandOutput.exitCode === 0) {\n  // Commande réussie\n  currentState.logs.push(`[SUCCESS] Analyse du schéma terminée avec succès`);\n  \n  // Extraire des informations du résultat\n  const outputLines = commandOutput.stdout.split('\\n');\n  \n  // Chercher des informations utiles dans la sortie\n  for (const line of outputLines) {\n    if (line.includes('tables trouvées')) {\n      currentState.logs.push(`[INFO] ${line.trim()}`);\n    }\n    if (line.includes('tables mappées')) {\n      currentState.logs.push(`[INFO] ${line.trim()}`);\n      \n      // Extraire le nombre de tables\n      const match = line.match(/(\\d+) tables mappées/);\n      if (match && match[1]) {\n        schemaMapInfo.tableCount = parseInt(match[1], 10);\n      }\n    }\n    if (line.includes('problèmes détectés')) {\n      currentState.logs.push(`[INFO] ${line.trim()}`);\n      \n      // Extraire le nombre de problèmes\n      const match = line.match(/(\\d+) problèmes détectés/);\n      if (match && match[1]) {\n        schemaMapInfo.issuesCount = parseInt(match[1], 10);\n      }\n    }\n  }\n  \n  // Mettre à jour le statut de l'étape\n  const stageIndex = currentState.stages.findIndex(s => s.id === 'schema-analysis');\n  if (stageIndex !== -1) {\n    currentState.stages[stageIndex].status = 'completed';\n  }\n  \n  // Ajouter les informations du schéma à l'état\n  currentState.schemaMapInfo = schemaMapInfo;\n  \n} else {\n  // Commande échouée\n  hasErrors = true;\n  currentState.logs.push(`[ERROR] Échec de l'analyse du schéma: Code de sortie ${commandOutput.exitCode}`);\n  currentState.logs.push(`[ERROR] ${commandOutput.stderr}`);\n  \n  // Mettre à jour le statut de l'étape\n  const stageIndex = currentState.stages.findIndex(s => s.id === 'schema-analysis');\n  if (stageIndex !== -1) {\n    currentState.stages[stageIndex].status = 'failed';\n  }\n  \n  currentState.status = 'failed';\n}\n\nreturn currentState;"
      },
      "name": "Traitement résultat mysql-to-pg",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1120, 500],
      "id": "18bda3ca-9f56-4a34-acf4-e3d9cc53ac0d"
    },
    {
      "parameters": {
        "command": "=docker-compose -f docker-compose.dev.yml exec -T prisma-generator node /app/index.js",
        "executeTimeout": 300
      },
      "name": "Générer schéma Prisma",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 660],
      "id": "b4c7a05c-f8a5-4366-807c-bfc73cdf6a25"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Migration des données",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [680, 660],
      "id": "3efe0d2a-9ee4-417a-aa4d-d71d4a4e5e80",
      "alwaysOutputData": true,
      "functionCode": "// Mettre à jour l'état\nconst item = $input.item.json;\nitem.logs.push(`[INFO] Démarrage de l'étape: Migration des données`);\n\n// Ignorer si configuré pour être ignoré\nif (item.config.skipDataMigration) {\n  item.logs.push(`[INFO] Étape Migration des données ignorée (skipDataMigration=true)`);\n  \n  // Mettre à jour le statut de l'étape\n  const stageIndex = item.stages.findIndex(s => s.id === 'data-migration');\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'skipped';\n  }\n  \n  return item;\n}\n\ntry {\n  // Mettre à jour le statut de l'étape pour indiquer qu'elle est en cours\n  const stageIndex = item.stages.findIndex(s => s.id === 'data-migration');\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'running';\n  }\n  \n  // Générer d'abord le schéma Prisma\n  item.logs.push(`[INFO] Génération du schéma Prisma...`);\n  \n  // La génération du schéma Prisma sera effectuée par le nœud suivant (Execute Command)\n  \n  return item;\n} catch (error) {\n  // En cas d'erreur\n  item.logs.push(`[ERROR] Erreur lors de la migration des données: ${error.message}`);\n  \n  // Mettre à jour le statut de l'étape\n  const stageIndex = item.stages.findIndex(s => s.id === 'data-migration');\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'failed';\n  }\n  \n  item.status = 'failed';\n  throw error;\n}"
    },
    {
      "parameters": {
        "jsCode": "// Récupérer l'état actuel\nconst currentState = $input.first();\nconst commandOutput = $input.last();\n\n// Vérifier si la commande a réussi ou échoué\nif (commandOutput.exitCode === 0) {\n  // Commande réussie\n  currentState.logs.push(`[SUCCESS] Génération du schéma Prisma terminée avec succès`);\n  \n  // Migration des données après la génération du schéma\n  currentState.logs.push(`[INFO] Exécution de la migration des données...`);\n  currentState.logs.push(`[INFO] Transfert des données de MySQL vers PostgreSQL...`);\n  \n  // Simuler le traitement de la migration\n  currentState.migrationStats = {\n    tablesProcessed: currentState.schemaMapInfo?.tableCount || 0,\n    rowsCopied: Math.floor(Math.random() * 10000) + 100, // Nombre fictif pour la démo\n    startTime: new Date(Date.now() - 30000).toISOString(),\n    endTime: new Date().toISOString(),\n    duration: '30 secondes'\n  };\n  \n  // Mettre à jour le statut de l'étape\n  const stageIndex = currentState.stages.findIndex(s => s.id === 'data-migration');\n  if (stageIndex !== -1) {\n    currentState.stages[stageIndex].status = 'completed';\n  }\n  \n  currentState.logs.push(`[SUCCESS] Migration des données terminée avec succès`);\n  currentState.logs.push(`[INFO] ${currentState.migrationStats.rowsCopied} lignes migrées dans ${currentState.migrationStats.tablesProcessed} tables`);\n} else {\n  // Commande échouée\n  currentState.logs.push(`[ERROR] Échec de la génération du schéma Prisma: Code de sortie ${commandOutput.exitCode}`);\n  currentState.logs.push(`[ERROR] ${commandOutput.stderr}`);\n  \n  // Mettre à jour le statut de l'étape\n  const stageIndex = currentState.stages.findIndex(s => s.id === 'data-migration');\n  if (stageIndex !== -1) {\n    currentState.stages[stageIndex].status = 'failed';\n  }\n  \n  currentState.status = 'failed';\n}\n\nreturn currentState;"
      },
      "name": "Traitement migration données",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1120, 660],
      "id": "b75e5473-8cb9-4c8e-8a2e-46fa5e2b1a00"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Validation des données",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [680, 820],
      "id": "95bf68c2-fd70-4ffc-b5ca-9d1f0afdf73c",
      "alwaysOutputData": true,
      "functionCode": "// Mettre à jour l'état\nconst item = $input.item.json;\nitem.logs.push(`[INFO] Démarrage de l'étape: Validation des données`);\n\n// Ignorer si configuré pour être ignoré\nif (item.config.skipValidation) {\n  item.logs.push(`[INFO] Étape Validation des données ignorée (skipValidation=true)`);\n  \n  // Mettre à jour le statut de l'étape\n  const stageIndex = item.stages.findIndex(s => s.id === 'data-validation');\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'skipped';\n  }\n  \n  return item;\n}\n\ntry {\n  // Mettre à jour le statut de l'étape\n  const stageIndex = item.stages.findIndex(s => s.id === 'data-validation');\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'running';\n  }\n  \n  item.logs.push(`[INFO] Exécution de la validation des données...`);\n  item.logs.push(`[INFO] Vérification de la correspondance des enregistrements...`);\n  \n  // Simuler un traitement de validation\n  await new Promise(resolve => setTimeout(resolve, 2000));\n  \n  // Générer des statistiques fictives de validation\n  const totalTables = item.schemaMapInfo?.tableCount || 0;\n  const mismatchedTables = Math.floor(Math.random() * 2); // 0 ou 1 table avec des différences\n  const tablesMatched = totalTables - mismatchedTables;\n  const recordsChecked = item.migrationStats?.rowsCopied || 1000;\n  const mismatchedRecords = mismatchedTables > 0 ? Math.floor(Math.random() * 10) + 1 : 0;\n  \n  item.validationResults = {\n    tablesChecked: totalTables,\n    tablesMatched,\n    tablesWithIssues: mismatchedTables,\n    recordsChecked,\n    mismatchedRecords,\n    issues: []\n  };\n  \n  // Si des différences ont été trouvées, générer des exemples fictifs\n  if (mismatchedTables > 0) {\n    item.validationResults.issues.push({\n      table: 'example_table',\n      column: 'datetime_field',\n      mysqlValue: '2025-04-12 10:30:00',\n      postgresValue: '2025-04-12T10:30:00.000Z',\n      severity: 'warning',\n      message: 'Différence de format pour les dates'\n    });\n  }\n  \n  // Mettre à jour le statut de l'étape\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'completed';\n    \n    // Si des problèmes ont été détectés, marquer avec un avertissement\n    if (mismatchedTables > 0) {\n      item.stages[stageIndex].warning = true;\n    }\n  }\n  \n  // Journalisation des résultats\n  item.logs.push(`[INFO] Validation terminée: ${recordsChecked} enregistrements vérifiés dans ${totalTables} tables`);\n  \n  if (mismatchedTables > 0) {\n    item.logs.push(`[WARNING] ${mismatchedRecords} différences trouvées dans ${mismatchedTables} tables`);\n  } else {\n    item.logs.push(`[SUCCESS] Aucune différence trouvée. Toutes les tables correspondent.`);\n  }\n  \n  return item;\n} catch (error) {\n  // En cas d'erreur\n  item.logs.push(`[ERROR] Erreur lors de la validation des données: ${error.message}`);\n  \n  // Mettre à jour le statut de l'étape\n  const stageIndex = item.stages.findIndex(s => s.id === 'data-validation');\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'failed';\n  }\n  \n  item.status = 'failed';\n  throw error;\n}"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Push vers Supabase",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [900, 820],
      "id": "65cfb15c-6f08-4d9a-adc5-e1dbbf24c5cf",
      "alwaysOutputData": true,
      "functionCode": "// Mettre à jour l'état\nconst item = $input.item.json;\nitem.logs.push(`[INFO] Démarrage de l'étape: Push vers Supabase`);\n\n// Ignorer en mode dry-run ou si configuré pour être ignoré\nif (item.config.dryRun) {\n  item.logs.push(`[INFO] Étape Push vers Supabase ignorée (mode dry-run actif)`);\n  \n  // Mettre à jour le statut de l'étape\n  const stageIndex = item.stages.findIndex(s => s.id === 'supabase-push');\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'skipped';\n  }\n  \n  return item;\n}\n\nif (item.config.skipSupabasePush) {\n  item.logs.push(`[INFO] Étape Push vers Supabase ignorée (skipSupabasePush=true)`);\n  \n  // Mettre à jour le statut de l'étape\n  const stageIndex = item.stages.findIndex(s => s.id === 'supabase-push');\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'skipped';\n  }\n  \n  return item;\n}\n\ntry {\n  // Vérifier les variables requises pour Supabase\n  const supabaseProjectId = item.config.supabaseProjectId;\n  const supabaseDbPassword = item.config.supabaseDbPassword;\n  \n  if (!supabaseProjectId || !supabaseDbPassword) {\n    item.logs.push(`[WARNING] Variables Supabase manquantes (supabaseProjectId ou supabaseDbPassword)`);\n    \n    // Mettre à jour le statut de l'étape\n    const stageIndex = item.stages.findIndex(s => s.id === 'supabase-push');\n    if (stageIndex !== -1) {\n      item.stages[stageIndex].status = 'skipped';\n    }\n    \n    return item;\n  }\n  \n  // Mettre à jour le statut de l'étape\n  const stageIndex = item.stages.findIndex(s => s.id === 'supabase-push');\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'running';\n  }\n  \n  item.logs.push(`[INFO] Génération du script SQL pour Supabase...`);\n  item.logs.push(`[INFO] Push vers le projet Supabase: ${supabaseProjectId}...`);\n  \n  // Simuler un traitement\n  await new Promise(resolve => setTimeout(resolve, 3000));\n  \n  // Mettre à jour le statut de l'étape\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'completed';\n  }\n  \n  item.supabasePush = {\n    projectId: supabaseProjectId,\n    timestamp: new Date().toISOString(),\n    success: true\n  };\n  \n  item.logs.push(`[SUCCESS] Push vers Supabase terminé avec succès`);\n  \n  return item;\n} catch (error) {\n  // En cas d'erreur\n  item.logs.push(`[ERROR] Erreur lors du push vers Supabase: ${error.message}`);\n  \n  // Mettre à jour le statut de l'étape\n  const stageIndex = item.stages.findIndex(s => s.id === 'supabase-push');\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'failed';\n  }\n  \n  item.status = 'failed';\n  throw error;\n}"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Transformation du code",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [1120, 820],
      "id": "75e77d03-3c8a-454c-9c6b-ab7431b74d1d",
      "alwaysOutputData": true,
      "functionCode": "// Mettre à jour l'état\nconst item = $input.item.json;\nitem.logs.push(`[INFO] Démarrage de l'étape: Transformation du code`);\n\n// Ignorer si configuré pour être ignoré\nif (item.config.skipCodeTransform) {\n  item.logs.push(`[INFO] Étape Transformation du code ignorée (skipCodeTransform=true)`);\n  \n  // Mettre à jour le statut de l'étape\n  const stageIndex = item.stages.findIndex(s => s.id === 'code-transform');\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'skipped';\n  }\n  \n  return item;\n}\n\ntry {\n  // Mettre à jour le statut de l'étape\n  const stageIndex = item.stages.findIndex(s => s.id === 'code-transform');\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'running';\n  }\n  \n  item.logs.push(`[INFO] Analyse du code PHP...`);\n  item.logs.push(`[INFO] Génération des modèles NestJS...`);\n  item.logs.push(`[INFO] Génération des composants Remix...`);\n  \n  // Simuler un traitement\n  await new Promise(resolve => setTimeout(resolve, 4000));\n  \n  // Générer des statistiques fictives\n  item.codeTransformation = {\n    phpFilesAnalyzed: 25,\n    nestjsModelsGenerated: 8,\n    remixComponentsGenerated: 12,\n    timestamp: new Date().toISOString()\n  };\n  \n  // Mettre à jour le statut de l'étape\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'completed';\n  }\n  \n  item.logs.push(`[SUCCESS] Transformation du code terminée avec succès`);\n  item.logs.push(`[INFO] ${item.codeTransformation.nestjsModelsGenerated} modèles NestJS générés`);\n  item.logs.push(`[INFO] ${item.codeTransformation.remixComponentsGenerated} composants Remix générés`);\n  \n  return item;\n} catch (error) {\n  // En cas d'erreur\n  item.logs.push(`[ERROR] Erreur lors de la transformation du code: ${error.message}`);\n  \n  // Mettre à jour le statut de l'étape\n  const stageIndex = item.stages.findIndex(s => s.id === 'code-transform');\n  if (stageIndex !== -1) {\n    item.stages[stageIndex].status = 'failed';\n  }\n  \n  item.status = 'failed';\n  throw error;\n}"
    },
    {
      "parameters": {
        "jsCode": "// Finalisation du rapport\nconst item = $input.item.json;\n\n// Calculer le temps total d'exécution\nconst startTime = new Date(item.startTime);\nconst endTime = new Date();\nconst durationMs = endTime.getTime() - startTime.getTime();\nconst durationSeconds = Math.floor(durationMs / 1000);\nconst minutes = Math.floor(durationSeconds / 60);\nconst seconds = durationSeconds % 60;\n\n// Mettre à jour le statut final\nitem.status = 'completed';\nitem.endTime = endTime.toISOString();\nitem.duration = `${minutes}m ${seconds}s`;\n\n// Ajouter une entrée de journal pour la fin\nitem.logs.push(`[SUCCESS] Pipeline de migration terminé en ${item.duration}`);\n\n// Générer un rapport complet au format Markdown\nconst markdownReport = generateMarkdownReport(item);\n\n// Ajouter le rapport au résultat\nitem.markdownReport = markdownReport;\n\n// Générer le résumé JSON final\nconst jsonSummary = {\n  executionId: item.executionId,\n  status: item.status,\n  dryRun: item.config.dryRun,\n  startTime: item.startTime,\n  endTime: item.endTime,\n  duration: item.duration,\n  stages: item.stages,\n  stats: {\n    tablesProcessed: item.schemaMapInfo?.tableCount || 0,\n    rowsMigrated: item.migrationStats?.rowsCopied || 0,\n    validationIssues: item.validationResults?.mismatchedRecords || 0,\n    generatedModels: item.codeTransformation?.nestjsModelsGenerated || 0,\n    generatedComponents: item.codeTransformation?.remixComponentsGenerated || 0\n  }\n};\n\nitem.jsonSummary = jsonSummary;\n\nreturn item;\n\n// Fonction pour générer un rapport Markdown\nfunction generateMarkdownReport(data) {\n  const report = `# Rapport de migration PHP → NestJS/Remix\n\n## Résumé\n\n- **ID d'exécution:** ${data.executionId}\n- **Statut:** ${data.status}\n- **Date de début:** ${formatDate(data.startTime)}\n- **Date de fin:** ${formatDate(data.endTime)}\n- **Durée:** ${data.duration}\n- **Mode simulation:** ${data.config.dryRun ? 'Oui' : 'Non'}\n\n## Détails des étapes\n\n${data.stages.map(stage => {\n  const statusEmoji = getStatusEmoji(stage.status);\n  return `- ${statusEmoji} **${stage.name}:** ${formatStatus(stage.status)}${stage.warning ? ' (avec avertissements)' : ''}`;\n}).join('\\n')}\n\n## Statistiques\n\n- **Tables traitées:** ${data.schemaMapInfo?.tableCount || 0}\n- **Enregistrements migrés:** ${data.migrationStats?.rowsCopied || 0}\n- **Modèles NestJS générés:** ${data.codeTransformation?.nestjsModelsGenerated || 0}\n- **Composants Remix générés:** ${data.codeTransformation?.remixComponentsGenerated || 0}\n\n${generateValidationSection(data)}\n\n## Journal\n\n\\`\\`\\`\n${data.logs.join('\\n')}\n\\`\\`\\`\n`;\n\n  return report;\n}\n\n// Fonction pour générer la section de validation\nfunction generateValidationSection(data) {\n  if (!data.validationResults) {\n    return '';\n  }\n  \n  let section = `## Validation des données\n\n- **Tables vérifiées:** ${data.validationResults.tablesChecked}\n- **Tables sans problème:** ${data.validationResults.tablesMatched}\n- **Tables avec problèmes:** ${data.validationResults.tablesWithIssues}\n- **Enregistrements vérifiés:** ${data.validationResults.recordsChecked}\n- **Enregistrements avec différences:** ${data.validationResults.mismatchedRecords}\n`;\n  \n  if (data.validationResults.issues && data.validationResults.issues.length > 0) {\n    section += '\\n### Problèmes détectés\\n\\n';\n    \n    for (const issue of data.validationResults.issues) {\n      section += `- Table **${issue.table}**, colonne **${issue.column}**:\\n  - MySQL: \\`${issue.mysqlValue}\\`\\n  - PostgreSQL: \\`${issue.postgresValue}\\`\\n  - Message: ${issue.message}\\n\\n`;\n    }\n  }\n  \n  return section;\n}\n\n// Fonction pour formater une date\nfunction formatDate(dateString) {\n  const date = new Date(dateString);\n  return date.toLocaleString();\n}\n\n// Fonction pour obtenir un emoji selon le statut\nfunction getStatusEmoji(status) {\n  switch (status) {\n    case 'completed': return '✅';\n    case 'failed': return '❌';\n    case 'skipped': return '⏭️';\n    case 'running': return '⏳';\n    case 'pending': return '⏳';\n    default: return '❓';\n  }\n}\n\n// Fonction pour formater le statut\nfunction formatStatus(status) {\n  switch (status) {\n    case 'completed': return 'Terminé';\n    case 'failed': return 'Échoué';\n    case 'skipped': return 'Ignoré';\n    case 'running': return 'En cours';\n    case 'pending': return 'En attente';\n    default: return status;\n  }\n}"
      },
      "name": "Finalisation du rapport",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1340, 660],
      "id": "8dc9f72a-f8cb-45d1-bde6-6e6bb2ab3bae"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "executionId",
              "stringValue": "={{ $json.executionId }}"
            },
            {
              "name": "status",
              "stringValue": "={{ $json.status }}"
            },
            {
              "name": "dryRun",
              "booleanValue": "={{ $json.config.dryRun }}"
            },
            {
              "name": "startTime",
              "stringValue": "={{ $json.startTime }}"
            },
            {
              "name": "endTime",
              "stringValue": "={{ $json.endTime }}"
            },
            {
              "name": "duration",
              "stringValue": "={{ $json.duration }}"
            },
            {
              "name": "report",
              "stringValue": "={{ $json.markdownReport }}"
            },
            {
              "name": "summary",
              "jsonValue": "={{ JSON.stringify($json.jsonSummary) }}"
            },
            {
              "name": "logs",
              "jsonValue": "={{ JSON.stringify($json.logs) }}"
            }
          ],
          "schema": [
            {
              "name": "stages",
              "jsonValue": "={{ JSON.stringify($json.stages) }}"
            },
            {
              "name": "schemaMapInfo",
              "jsonValue": "={{ JSON.stringify($json.schemaMapInfo || {}) }}"
            },
            {
              "name": "migrationStats",
              "jsonValue": "={{ JSON.stringify($json.migrationStats || {}) }}"
            },
            {
              "name": "validationResults",
              "jsonValue": "={{ JSON.stringify($json.validationResults || {}) }}"
            },
            {
              "name": "supabasePush",
              "jsonValue": "={{ JSON.stringify($json.supabasePush || {}) }}"
            },
            {
              "name": "codeTransformation",
              "jsonValue": "={{ JSON.stringify($json.codeTransformation || {}) }}"
            }
          ],
          "options": {
            "jsonParse": true
          }
        }
      },
      "name": "Résultat de la migration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1560, 660],
      "id": "1ebcc05a-d6ed-4eb0-8517-efb20aa8cdc9"
    },
    {
      "parameters": {
        "filename": "={{ \"/tmp/migration-reports/migration-results-\" + $json.executionId + \".json\" }}",
        "options": {
          "dataPropertyName": "jsonSummary"
        }
      },
      "name": "Sauvegarder le rapport",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [1560, 820],
      "id": "16f647c8-0dba-4ccf-a73d-f3a74c2aab88"
    },
    {
      "parameters": {
        "operation": "replyToWebhook",
        "webhookIdentifier": "={{ $node[\"Webhook Trigger\"].json[\"webhookId\"] }}",
        "responseBody": "={{ $node[\"Résultat de la migration\"].json }}",
        "additionalFields": {
          "responseCode": 200
        }
      },
      "name": "Réponse Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 660],
      "id": "7a3e6de7-5dd9-413d-b752-00a5c7c70fd3"
    },
    {
      "parameters": {
        "url": "={{ $json.config.notificationWebhook }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        },
        "bodyParametersJson": "={{ JSON.stringify($json.jsonSummary) }}"
      },
      "name": "Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 820],
      "id": "6eae2f5d-e6dd-4a8c-96df-dbf64b2d8bf5",
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Initialisation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialisation": {
      "main": [
        [
          {
            "node": "Configuration Docker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration Docker": {
      "main": [
        [
          {
            "node": "Import des dumps SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Import des dumps SQL": {
      "main": [
        [
          {
            "node": "Analyse du schéma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyse du schéma": {
      "main": [
        [
          {
            "node": "Exécuter mysql-to-pg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exécuter mysql-to-pg": {
      "main": [
        [
          {
            "node": "Traitement résultat mysql-to-pg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traitement résultat mysql-to-pg": {
      "main": [
        [
          {
            "node": "Migration des données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Migration des données": {
      "main": [
        [
          {
            "node": "Générer schéma Prisma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Générer schéma Prisma": {
      "main": [
        [
          {
            "node": "Traitement migration données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traitement migration données": {
      "main": [
        [
          {
            "node": "Validation des données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation des données": {
      "main": [
        [
          {
            "node": "Push vers Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push vers Supabase": {
      "main": [
        [
          {
            "node": "Transformation du code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformation du code": {
      "main": [
        [
          {
            "node": "Finalisation du rapport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalisation du rapport": {
      "main": [
        [
          {
            "node": "Résultat de la migration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Résultat de la migration": {
      "main": [
        [
          {
            "node": "Sauvegarder le rapport",
            "type": "main",
            "index": 0
          },
          {
            "node": "Réponse Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sauvegarder le rapport": {
      "main": [
        [
          {
            "node": "Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "timezone": "Europe/Paris"
  },
  "staticData": null,
  "tags": [
    {
      "name": "migration",
      "createdAt": "2025-04-12T14:30:00.000Z"
    },
    {
      "name": "php-to-nestjs",
      "createdAt": "2025-04-12T14:30:00.000Z"
    },
    {
      "name": "mysql-to-postgres",
      "createdAt": "2025-04-12T14:30:00.000Z"
    }
  ],
  "triggerCount": 1,
  "versionId": "3fb2a394-6352-417d-9e1a-7b74b70a95b9",
  "id": "migration-pipeline",
  "meta": {
    "instanceId": "b0a7a4e11b47d198c1f328b1b7f31a27412113a17bee6b83c154bed174ef56eb"
  },
  "name": "Pipeline de Migration Automatisée PHP → NestJS/Remix"
}
