config/n8n-table-cartographer-workflow.json
{
  "name": "SQL Analyzer - Cartographe Sémantique des Tables",
  "nodes": [
    {
      "parameters": {
        "filePath": "./config/sql_analyzer.config.json"
      },
      "name": "Read Config File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "dataType": "string",
        "value": "={{ $json.data.toString('utf8') }}"
      },
      "name": "Parse Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [420, 300]
    },
    {
      "parameters": {
        "functionCode": "// Vérifier si l'agent est activé\nconst config = JSON.parse(items[0].json.value);\n\nif (!config.agents || !config.agents.semanticMapper || !config.agents.semanticMapper.enabled) {\n  return [\n    {\n      json: {\n        success: false,\n        message: \"L'agent Cartographe Sémantique des Tables est désactivé dans la configuration\"\n      }\n    }\n  ];\n}\n\n// Vérifier si les fichiers d'entrée existent\nconst fs = require('fs');\nconst schemaPath = `${config.baseOutputPath}/schema_raw.json`;\n\nif (!fs.existsSync(schemaPath)) {\n  return [\n    {\n      json: {\n        success: false,\n        message: `Le fichier schema_raw.json n'existe pas au chemin ${schemaPath}. Exécutez d'abord l'agent Extracteur.`\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      success: true,\n      config,\n      schemaPath\n    }\n  }\n];"
      },
      "name": "Validate Config",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.success }}",
              "operation": "equal",
              "value2": "true"
            }
          ]
        }
      },
      "name": "Config Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [780, 300]
    },
    {
      "parameters": {
        "command": "node ./agents/analysis/table-cartographer.ts --config=./config/sql_analyzer.config.json --schema={{ $json.schemaPath }}"
      },
      "name": "Execute Cartographer",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [980, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {success: false, message: $json.message} }}",
        "options": {}
      },
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [980, 400]
    },
    {
      "parameters": {
        "filePath": "={{ $json.config.baseOutputPath + '/table_classification.json' }}"
      },
      "name": "Read Classification",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [1180, 240]
    },
    {
      "parameters": {
        "dataType": "string",
        "value": "={{ $json.data.toString('utf8') }}"
      },
      "name": "Parse Classification",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1380, 240]
    },
    {
      "parameters": {
        "filePath": "={{ $json.config.baseOutputPath + '/entity_graph.md' }}"
      },
      "name": "Read Entity Graph",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [1180, 400]
    },
    {
      "parameters": {
        "dataType": "string",
        "value": "={{ $json.data.toString('utf8') }}"
      },
      "name": "Parse Entity Graph",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1380, 400]
    },
    {
      "parameters": {
        "functionCode": "// Fusionner les résultats\nconst classification = items[0].json;\nconst entityGraph = items[1].json;\n\nconst roles = {};\nJSON.parse(classification.value).forEach(table => {\n  if (!roles[table.role]) {\n    roles[table.role] = 0;\n  }\n  roles[table.role]++;\n});\n\nreturn [\n  {\n    json: {\n      success: true,\n      message: \"Cartographie sémantique des tables terminée avec succès\",\n      stats: {\n        entities: roles['entité_métier'] || 0,\n        junctions: roles['liaison'] || 0,\n        technical: roles['technique'] || 0,\n        orphans: roles['orpheline_suspecte'] || 0\n      },\n      classificationJson: classification.value,\n      entityGraphMd: entityGraph.value\n    }\n  }\n];"
      },
      "name": "Compile Results",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1580, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 320]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sql-analyzer/cartographe",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [60, 300]
    }
  ],
  "connections": {
    "Read Config File": {
      "main": [
        [
          {
            "node": "Parse Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Config": {
      "main": [
        [
          {
            "node": "Validate Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Config": {
      "main": [
        [
          {
            "node": "Config Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Valid?": {
      "main": [
        [
          {
            "node": "Execute Cartographer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Cartographer": {
      "main": [
        [
          {
            "node": "Read Classification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Entity Graph",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Classification": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "Compile Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Entity Graph": {
      "main": [
        [
          {
            "node": "Parse Entity Graph",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Entity Graph": {
      "main": [
        [
          {
            "node": "Compile Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Compile Results": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Read Config File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
